<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Get your greeting <a href="api/people/">here</a></p>
    <button type="submit" id="ajaxClk">Click Me</button>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#ajaxClk").click(function(){
            $.ajax({
            type: "POST",
            url: "https://jsonplaceholder.typicode.com/posts",
            data: JSON.stringify({
                    title: 'test',
                    body: 'test',
                    userId: 22,
                }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                alert("hello");
                console.log(data);
            },
            failure: function(errMsg) {
                alert("error");
                console.log(errMsg);
            }
            });
        });
    });
</script>